doctype html
html(lang='en')
  head
    title Broadsheet
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://code.cdn.mozilla.net/fonts/fira.css')
    link(href='/app.css', rel='stylesheet')
  body
    #root
    script(src='/app.js')
