.app-nav
  background-color white
  border 0
  border-radius 0
  box-shadow 0 8px 10px -8px rgba(0, 0, 0, 0.1)
  height $app-nav-height
  min-height $app-nav-height
  line-height $app-nav-height
  z-index 5

  .logo
    line-height $app-nav-height
    margin 0
