.app-nav
  background-color white
  border 0
  border-radius 0
  box-shadow $card-shadow
  height $app-nav-height
  min-height $app-nav-height
  margin 0
  line-height $app-nav-height
  z-index 5

  .logo
    line-height $app-nav-height
    margin 0
