.feed-title-bar
  .mobile-menu-button
    position absolute
    left halfGutter()
    font-size 24px

    &.fa-times
      display none

    +sm()
      display none

  .feed-title
    margin 0
    overflow-x hidden
    white-space nowrap
    text-overflow ellipsis
    line-height $app-nav-height

.feed-title-bar-icons
  font-size 1.1em
  margin 10px halfGutter() * -1 0
  padding 0 halfGutter()
  list-style-type none
  overflow hidden
  display none

  +sm()
    display block

  li
    display inline-block
    float left
    margin-right halfGutter()
    line-height 0

  .fa
    margin-right (halfGutter()/ 3)

  a
    cursor pointer
    color $gray-light

  a:hover
    color $gray
    text-decoration none

.show-mobile-menu
  .feed-title-bar
    .fa-times
      display inline
    .fa-bars
      display none
