@import 'variables'
@import 'bootstrap'
@import 'subscriptions'
@import 'reader'

@import 'elements/button'
@import 'elements/input'
@import 'elements/badge'
@import 'elements/loader'

@import 'components/app-nav'
@import 'components/feed-title-bar'

html
  height: 100%

body
  background linear-gradient(to bottom, #fff 0%, $gray-lighter 100%);
  margin 0
  font ($font-size * 1.3)/$line-height $font-family-body
  font-weight 300
  height 100%
  color $gray

  +sm()
    font-size $font-size

h1, h2, h3, h4, h5, h6
  font-family $font-family-header
  letter-spacing -0.03em
  color $gray-dark
  font-weight 500

b, strong
  font-weight 500

hr
  border 2px solid $gray-border
  margin-bottom 30px

.height-100
  height 100%

.articlesList
  margin-top halfGutter()
  padding 0
  list-style-type none

  li
    position relative
    background-color white
    box-shadow $card-shadow
    border-radius 5px
    padding halfGutter()
    cursor pointer

    +sm()
      padding 8px halfGutter()
      margin-bottom (halfGutter() / 2.5)

    &:before
      content ''
      background-color darken($gray-lighter, 10)
      position absolute
      top 0
      bottom 0
      left 0
      width 5px
      opacity 0
      border-radius 5px 0 0 5px
      transition opacity 200ms, background-color 200ms

    &:hover:before
      opacity 1

  li.active:before
    opacity 1
    background-color $brand-primary

button.load-more-articles
  margin halfGutter() 0

.article-title
  color $gray-dark
  font-weight 400
  margin 0
  overflow hidden
  text-overflow ellipsis

  +sm()
    font-weight 500

.article-preview
  color $gray-light
  font-weight 300
  display none

  +sm()
    display inline

.dashboardGrid
  background $gray-lighter
  position absolute
  top $app-nav-height
  bottom 0
  left 0
  right 0
  overflow hidden

  & > .row
    height 100%

.dashboard-col
  height 100%
  overflow-y auto

  &::-webkit-scrollbar
    width 6px

  &::-webkit-scrollbar-thumb
    background-color lighten($gray-light, 25%)
    outline 0

.slide
  opacity 0
  transform translateY(50px)
  display block !important

  &.up
    transition transform 300ms ease-out, opacity 150ms ease-out
    opacity 1
    transform translateY(0)

blockquote
  font-size 1.2em
  font-weight 300
  font-style italic
  color $gray-light
  border-left 5px solid $gray-border

.dropdown-menu
  border none

.dropdown-menu > li > a
  padding 5px 10px
  color $gray-dark

.auth-prompt
  padding-top halfGutter() * 5

.show-mobile-menu
  +xs()
    .article-list-col
      transform translateX(250px)
