@import 'variables'
@import 'bootstrap'

body
  font-weight 300

.btn-primary
  background-image linear-gradient(25deg, rgba(64,136,196,1) -35%,rgba(110,205,177,1) 135%)
  transition opacity 200ms

  &:hover
    opacity 0.8
