pre
  background transparent
  border none
  border-radius 0
  border-left 5px solid $gray-border
  padding 0 0 0 $grid-gutter-width
  margin-bottom $grid-gutter-width
  color $gray-dark

pre, code
  font-family 'Fira Mono', monospace
