.grid
  display flex

  // The only direct descendants of a grid should be cells. This is just an
  // easier way to select them.
  & > *
    padding $gutter-size

  // For "admin panel" style websites, where the UI takes over the whole screen.
  // Not necessarily full width, but the <body> isn't scrollable.
  &.full-height
    height 100vh

    & > *
      height 100vh
      overflow-y auto

  for $name, $pixels in $breakpoints

    @media screen and (min-width: $pixels)

      & > .{ $name }
        flex 1

      for $num in 1..$columns
        & > .{ $name }-{ $num }
          flex 0 0 (($num / $columns) * 100)%
