.subscriptions
  background $palette-lighter
  padding-top $gutter-size

  ul
    list-style-type none
    margin 0 0 0 $gutter-size* -1
    padding $gutter-size 0 0 0

    li > a
      display block
      padding 4px $gutter-size
      border-radius 0 5px 5px 0

      &:link, &:visited, &:active
        color $palette-neutral
        text-decoration none

      &:hover
        background-color darken($palette-lighter, 5)
        text-decoration none

      &.active
        color $palette-dark
        background-color darken($palette-lighter, 10)

      .subscriptionIcon
        width 16px
        height 16px
        margin-right $gutter-size
        border-radius 4px
