borderColor = #F1F2F3

// Bootstrap overrides
$font-family-sans-serif = 'Fira Sans', Helvetica, Arial, sans-serif
$gray-darker = #2C4850
$gray-light = #B4C3C7
$panel-default-border = borderColor
$input-border = borderColor
$input-border-focus = rgba(88, 171, 186, 0.6)
$line-height-base = 1.75 // 28 divided by 16
$input-color-placeholder = #ccc
$btn-primary-bg = #4088C4
$brand-primary = #618996

halfGutter()
  ($grid-gutter-width / 2)
