// --- Color Palette -----------------------------------------------------------

// Base colours
$palette-base ?= #263c42
$palette-darker ?= #344A50
$palette-dark ?= #466269
$palette-neutral ?= #738286
$palette-light ?= #B3C0C3
$palette-lighter ?= #f5f8f9

// Accents
$palette-accent-primary ?= #52BB9C
$palette-accent-secondary ?= #4088c4

// Contextual colours
$palette-danger ?= #D65151

$border-color ?= #F1F2F3

// Typography
$font-family-body ?= 'Fira Sans', Helvetica, Arial, sans-serif
$font-family-header ?= $font-family-body
$font-size ?= 14px
$line-height ?= 1.75

// Animation & transitions
$animation-speed ?= 200ms

// Structure & layout
$gutter ?= 15px

// Bootstrap overrides

$panel-default-border = $border-color
$input-border = $border-color
$input-border-focus = rgba(88, 171, 186, 0.6)
$input-color-placeholder = #ccc
$btn-primary-bg = #4088C4
$brand-primary = #4F6A73

halfGutter()
  ($grid-gutter-width / 2)
