// --- Color Palette -----------------------------------------------------------

// Base colours
$palette-base ?= #263c42
$palette-darker ?= #344A50
$palette-dark ?= #466269
$palette-neutral ?= #738286
$palette-light ?= #B3C0C3
$palette-lighter ?= #f5f8f9

// Border
$palette-border ?= #F1F2F3

// Accents
$palette-accent-primary ?= #78CAB1
$palette-accent-secondary ?= #73A7DC

// Contextual colours
$palette-danger ?= #D65151

// --- Typography --------------------------------------------------------------

// The basics
$font-family-body ?= 'Fira Sans', Helvetica, Arial, sans-serif
$font-family-header ?= $font-family-body
$font-size ?= 14px
$line-height ?= 1.75

// --- Structure & Layout ------------------------------------------------------

// Grid settings
$gutter-size ?= 15px
$columns ?= 12
$breakpoints ?= {
  sm: 0,
  md: 768px,
  lg: 992px,
  hg: 1200px
}

$border-radius ?= 5px

// Animation & transitions
$animation-speed ?= 200ms

textFieldPlaceholder()
  &::-webkit-input-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
