.userBadge
  display block
  margin $gutter-size * -1
  margin-bottom 0
  padding $gutter-size
  position relative
  font-weight 600
  color $palette-dark
  cursor pointer
  transition background-color $animation-speed

  &:hover
    background-color darken($palette-lighter, 5)

  .fa
    display inline-block
    float right
    margin-top 4px
