button.user-badge
  display block
  font-weight 600
  color $palette-dark
  transition background-color $animation-speed
  padding 0
  margin-bottom $gutter-size

  &:hover, &:focus
    color $palette-dark
    text-decoration none
