.user-badge
  position relative
  margin-bottom 0
  transition 200ms background-color

  .dropdown, button
    text-align left

  button, button:hover, button:focus
    padding 0
    color $gray-dark
    font-weight 500
    text-decoration none

  .fa
    margin 3px 0 0 halfGutter()

  .dropdown-menu
    right 0
    left auto

.user-badge-col
  position absolute
  right 0
  top 0
