button-focus($button-color)
  box-shadow 0 0 0 3px lighten($button-color, 20)

button-focus-active($button-color)
  box-shadow 0 0 0 3px lighten($button-color, 20), inset 0 3px 5px rgba(0, 0, 0, 0.3)

.button
  display inline-block
  background-color $palette-accent-secondary
  text-align center
  vertical-align middle
  cursor pointer
  border none
  border-radius ($gutter / 3)
  white-space nowrap
  user-select none
  padding ($gutter / 2) $gutter
  color $palette-lighter
  transition all ($animation-speed / 2)

  &:hover
    background-color darken($palette-accent-secondary, 5)

  &:focus
    outline none
    button-focus($palette-accent-secondary)

.button.primary
  background-color $palette-accent-primary

  &:hover
    background-color darken($palette-accent-primary, 5)

  &:focus
    button-focus($palette-accent-primary)

  &:focus:active
    button-focus-active($palette-accent-primary)

.button.danger
  background-color $palette-danger

  &:hover
    background-color darken($palette-danger, 5)

.button.block
  display block
  width 100%

// --- Other Contexts ----------------------------------------------------------

.modal-footer .button + .button
  margin-left ($gutter / 3)
