button-focus($button-color)
  box-shadow 0 0 0 3px lighten($button-color, 20)

button-focus-active($button-color)
  background-color darken($button-color, 5)
  box-shadow 0 0 0 3px lighten($button-color, 20), inset 0 3px 5px rgba(0, 0, 0, 0.3)

build-button-variant($name, $color)
  .btn.btn-{ $name }
    background-color $color
    &:hover
      background-color darken($color, 5)
    &:focus
      outline none
      button-focus($color)
    &:active:focus
      button-focus-active($color)

@keyframes button-loading
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)

.btn
  position relative
  border none
  border-radius (halfGutter() / 3)
  transition $animation-speed all
  padding (halfGutter() / 2) halfGutter()

  &[disabled]
    opacity 0.5

build-button-variant('primary', $brand-primary)
build-button-variant('danger', $brand-danger)

.btn.loading
  color transparent

  &::after
    animation button-loading 500ms infinite linear
    border .2rem solid $gray-lighter
    border-radius .8rem
    border-right-color transparent
    border-top-color transparent
    content ''
    display block
    height 1.6rem
    left 50%
    margin-left -.8rem
    margin-top -.8rem
    position absolute
    top 50%
    width 1.6rem
