ul.dropdown-list
  visibility hidden
  position absolute
  background white
  min-width 200px
  box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
  left $gutter-size
  padding $gutter-size
  border-radius $border-radius
  z-index 10
  opacity 0
  transform translateY($gutter-size * -1)
  transition all $animation-speed

  &.visible
    transform translateY(0)
    visibility visible
    opacity 1
