input[type='text']
  display block
  width 100%
  padding ($gutter / 2) $gutter
  border 3px solid $palette-border
  border-radius ($gutter / 3)
  color $palette-neutral

  +textFieldPlaceholder()
    color $palette-light
    font-weight 300
