textFieldPlaceholder()
  &::-webkit-input-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

input[type='text']

  +textFieldPlaceholder()
    color $palette-light
    font-weight 300
